doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(http-equiv='x-ua-compatible', content='ie=edge')

        meta(content='ServantJS web panel', name='description')
        meta(content='Vitaliy Orlov', name='author')
        meta(content='320', name='MobileOptimized')

        title ServantJS | #{title}

        link(rel='stylesheet', href='/plugins/font-awesome/css/font-awesome.min.css')
        link(rel='stylesheet', href='/plugins/bootstrap/css/bootstrap.min.css')
        link(rel='stylesheet', href='/plugins/toastr/toastr.min.css')
        link(rel='stylesheet', href='/css/styles.css')

        block StylesBlock
    body
        .page-container
            .header
                nav.navbar.navbar-full.navbar-dark.bg-inverse
                    a.navbar-brand(href='/') ServantJS
                    ul.nav.navbar-nav.pull-xs-right(style='margin-right: 40px')
                        li.nav-item.dropdown
                            a#account-menu.nav-link.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                                | #{username}
                            .dropdown-menu(aria-labelledby='account-menu')
                                a.dropdown-item(href='/settings/account')
                                    i.fa.fa-user
                                    | #{profile}
                                .dropdown-divider
                                a.dropdown-item(href='/signout')
                                    i.fa.fa-key
                                    | #{logout}
            .side-wrapper
                .side-panel
                    ul.nav.nav-pills.nav-stacked
                        li#dashboard.nav-item
                            a.nav-link(href='/')
                                i.fa.fa-home
                                | #{home.menu}
                        li#managment.nav-item
                            a.nav-link(href='#managment')
                                i.fa.fa-users
                                | #{management.menu}
                                i.arrow.fa.fa-angle-left.pull-xs-right
                            ul.sub-menu
                                li#users-sub
                                    a(href='/users')= management.users
                        li#haproxy.nav-item
                            a.nav-link(href='#haproxy')
                                i.fa.fa-shield
                                | #{haproxy.menu}
                                i.arrow.fa.fa-angle-left.pull-xs-right
                            ul.sub-menu
                                li#hap-configs-sub
                                    a(href='/haproxy/configs')= haproxy.configs
                                li#hap-settings-sub
                                    a(href='/haproxy/settings')= haproxy.settings
                        li#cc.nav-item
                            a.nav-link(href='#cc')
                                i.fa.fa-sitemap
                                | #{cc.menu}
                                i.arrow.fa.fa-angle-left.pull-xs-right
                            ul.sub-menu
                                li#cc-info-sub
                                    a(href='/cc/info')= cc.info
                                li#cc-groups-sub
                                    a(href='/cc/groups')= cc.groups
            .wrapper
                .content
                    block ContentBlock

        script(src='/js/jquery-2.1.4.min.js', type='application/javascript')
        script(src='/plugins/tether/js/tether.min.js', type='application/javascript')
        script(src='/plugins/bootstrap/js/bootstrap.min.js', type='application/javascript')
        script(src='/plugins/toastr/toastr.min.js', type='application/javascript')
        script(src='/js/app.js', type='application/javascript')
        script(type='application/javascript').
            var crudText = !{JSON.stringify(crudText)};

            function _convertStatus(status) {
                switch (status) {
                    case -1:
                        return ['info', crudText.status.created, 'create'];
                    case 0:
                        return ['success', crudText.status.success, 'success'];
                    case 1:
                        return ['primary', crudText.status.paused, 'pause'];
                    case 2:
                        return ['info', crudText.status.process, 'process'];
                    case 3:
                        return ['danger', crudText.status.error, 'error'];
                    case 4:
                        return ['default', crudText.status.deleted, 'delete'];
                    case 5:
                        return ['warning', crudText.status.warning, 'warning'];
                    default:
                        return ['default', crudText.status.unknown, 'unknown'];
                }
            }
        block ScriptsPluginBlock
        block ScriptsBlock
