doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(http-equiv='x-ua-compatible', content='ie=edge')

        meta(content='ServantJS web panel', name='description')
        meta(content='Vitaliy Orlov', name='author')
        meta(content='320', name='MobileOptimized')

        title ServantJS | #{title}

        link(rel='stylesheet', href='/plugins/font-awesome/css/font-awesome.min.css')
        link(rel='stylesheet', href='/plugins/bootstrap/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/login.css')

        block StylesBlock
    body
        .logo
            a(href='/')
                img(src='/img/servantjs.png', height='100px', alt='ServantJS')
        .content
            .msg-block
            form#signin-form(action='/signin', method='post')
                h3.form-title= formTitle
                input(type='hidden', name='redirect', value=redirect)
                .form-group
                    .input-icon
                        i.fa.fa-envelope
                        input.form-control(name='email', type='text', placeholder=email)
                .form-group
                    .input-icon
                        i.fa.fa-lock
                        input.form-control(name='password', type='password', placeholder=password)
                .form-group
                    .checkbox
                        label
                            input(name='remember', type='checkbox')
                            | &nbsp;#{remember}
                .form-actions
                    button.btn.btn-orange.pull-xs-right(type='submit')= action


        script(src='/js/jquery-2.1.4.min.js', type='application/javascript')

        include ../shared/_validate

        script(type='application/javascript').
            $(function () {
                var $form = $('#signin-form');
                validateForm({errorPlace: '.form-group'}, $form,
                        {
                            email: {
                                required: true,
                                email: true
                            },
                            password: {
                                required: true,
                                maxlength: 300
                            }
                        },
                        function () {
                            $('button[type="submit"]').addClass('disabled');

                            var data = {
                                _csrf: '!{csrfToken}',
                                email: $form.find('input[name="email"]').val(),
                                password: $form.find('input[name="password"]').val(),
                                remember: $form.find('input[name="remember"]').prop('checked')
                            };

                            var r = $form.find('input[name="redirect"]').val();

                            $.post('/signin', data, function (result) {
                                $('button[type="submit"]').removeClass('disabled');

                                if (result.ok) {
                                    location.href = r;
                                } else {
                                    $('.msg-block')
                                            .empty()
                                            .append('<div class="alert alert-danger"><button class="close" data-close="alert"></button><span>'
                                                    + result.msg +
                                                    '</span></span></div>');
                                }
                            });
                        });
            });
        block ScriptsPluginBlock
        block ScriptsBlock
