extends ../shared/_layout
block StylesBlock
block ContentBlock

    .row
        .col-xs-12
            h3.page-title #{pageTitle}
    .row
        .col-xs-12
            .card
                .card-header= table.name
                .card-block
                    table.table
                        thead
                            tr
                                th #
                                th #{table.columns.email}
                                th #{table.columns.token}
                                th(style='width: 125px')
                        tbody
                            - each user, index in data
                                tr.tr-vertical
                                    input(name='user-id', type='hidden', value=user._id)
                                    td= index + 1
                                    td= user.email
                                    td= user.access_key
                                    td


block ScriptsPluginBlock
block ScriptsBlock
    script(type='application/javascript').
        $(function () {
            setActiveLink('#managment', '#users-sub');
        });