extends ../../../views/shared/_layout
block StylesBlock
block ContentBlock

    .row
        .col-xs-12
            h3.page-title #{pageTitle}
    .row
        .col-xs-12
            .card
                .card-header
                    | #{table.name}
                    a.btn.btn-success.btn-sm.pull-xs-right(style='margin-top: -8px;', href='#create-setting-modal', data-toggle='modal')= buttonsTxt.create
                .card-block
                    table.table
                        thead
                            tr
                                th #
                                th= table.columns.name
                                th= table.columns.desc
                                th(style='width: 135px')
                        tbody
                            - var i = 1;
                            - each setting in data
                                tr.tr-vertical
                                    input(name='id', type='hidden', value=setting._id)
                                    td #{i++}
                                    td.name= setting.token_name
                                    td.desc= setting.description
                                    td
                                        a.btn.btn-success.edit-btn.margin-10-right(href='#edit', title=buttonsTxt.edit)
                                            i.fa.fa-pencil
                                        a.btn.btn-danger.delete-btn(href='#delete', title=buttonsTxt.delete)
                                            i.fa.fa-trash-o

    #create-setting-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
        .modal-dialog
            .modal-content
                form#create-setting-form(method='POST', action='/haproxy/settings', autocomplete='off')
                    .modal-header
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true') &times;
                        h4.modal-title= modal.title
                    .modal-body.modal-align
                        .form-group.row
                            label.col-xs-4.form-control-label= modal.fields.name
                            .col-xs-8
                                input.form-control(name='name', placeholder='', type='text')
                        .form-group.row
                            label.col-xs-4.form-control-label= modal.fields.desc
                            .col-xs-8
                                input.form-control(name='desc', placeholder='', type='text')

                    .modal-footer
                        button.btn.btn-default(type='button', data-dismiss='modal')= buttonsTxt.close
                        button.btn.btn-primary.create-btn(type='submit')
                            i.fa.fa-refresh.fa-spin.hide(style='margin-right: 5px')
                            | #{buttonsTxt.create}

    #edit-setting-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
        .modal-dialog
            .modal-content
                form#edit-setting-form(method='POST', action='/haproxy/settings', autocomplete='off')
                    input.form-control(name='id', type='hidden')
                    .modal-header
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true') &times;
                        h4.modal-title= editModal.title
                    .modal-body.modal-align
                        .form-group.row
                            label.col-xs-4.form-control-label= modal.fields.name
                            .col-xs-8
                                input.form-control(name='name', placeholder='', type='text')
                        .form-group.row
                            label.col-xs-4.form-control-label= modal.fields.desc
                            .col-xs-8
                                input.form-control(name='desc', placeholder='', type='text')

                    .modal-footer
                        button.btn.btn-default(type='button', data-dismiss='modal')= buttonsTxt.close
                        button.btn.btn-success.save-btn(type='submit')
                            i.fa.fa-refresh.fa-spin.hide(style='margin-right: 5px')
                            | #{buttonsTxt.save}

block ScriptsPluginBlock
block ScriptsBlock
    include ../../../views/shared/_validate

    script(type='application/javascript').

        $(function () {
            setActiveLink('#haproxy', '#hap-settings-sub');

            var $createModal = $('#create-setting-modal');
            var $editModal = $('#edit-setting-modal');

            validateModal(null, $createModal,
                    {
                        name: {
                            required: true,
                            maxlength: 15
                        },
                        desc: {
                            required: true,
                            maxlength: 300
                        }
                    },
                    function () {
                        var data = {
                            _csrf: _csrf,
                            name: $('input[name="name"]', $createModal).val(),
                            desc: $('input[name="desc"]', $createModal).val()
                        };

                        toggleModalActionBtn($('.create-config'));

                        $.ajax({
                            url: '/haproxy/settings',
                            type: 'POST',
                            contentType: 'application/json',
                            data: JSON.stringify(data),
                            dataType: 'json',
                            error: function (XMLHttpRequest, textStatus, errorThrow) {
                                alert(XMLHttpRequest + '\n' + textStatus + '\n' + errorThrow);
                            },
                            success: function (result) {
                                if (result.ok) {
                                    $createModal.modal('hide');
                                    location.reload();
                                } else {
                                    toastr.error(result.msg);
                                }

                                toggleModalActionBtn($('.create-config'));
                            }
                        });
                    }
            );

            validateModal(null, $editModal,
                    {
                        name: {
                            required: true,
                            maxlength: 15
                        },
                        desc: {
                            required: true,
                            maxlength: 300
                        }
                    },
                    function () {
                        var data = {
                            _csrf: _csrf,
                            name: $('input[name="name"]', $editModal).val(),
                            desc: $('input[name="desc"]', $editModal).val()
                        };

                        toggleModalActionBtn($('.save-config'));

                        $.ajax({
                            url: '/haproxy/settings/' + $('input[name="id"]', $editModal).val(),
                            type: 'PUT',
                            contentType: 'application/json',
                            data: JSON.stringify(data),
                            dataType: 'json',
                            error: function (XMLHttpRequest, textStatus, errorThrow) {
                                alert(XMLHttpRequest + '\n' + textStatus + '\n' + errorThrow);
                            },
                            success: function (result) {
                                if (result.ok) {
                                    $editModal.modal('hide');
                                    location.reload();
                                } else {
                                    toastr.error(result.msg);
                                }

                                toggleModalActionBtn($('.save-config'));
                            }
                        });
                    }
            );

            $('.edit-btn').on('click', function (e) {
                e.preventDefault();

                var $tr = $(this).closest('tr');

                var id = $tr.children('input[name="id"]').val();
                var name = $tr.children('.name').text();
                var desc = $tr.children('.desc').text();

                $('#edit-setting-modal').modal('show');

                $('#edit-setting-form input[name="id"]').val(id);
                $('#edit-setting-form input[name="name"]').val(name);
                $('#edit-setting-form input[name="desc"]').val(desc);
            });

            $('.delete-btn').on('click', function (e) {
                e.preventDefault();

                var $elem = $(this);
                var $tr = $(this).closest('tr');

                var id = $tr.children('input[name="id"]').val();

                if (!confirm('Are you sure?')) {
                    return;
                }

                $elem.toggleClass('disabled');

                $.ajax({
                    url: '/haproxy/settings/' + id,
                    type: 'DELETE',
                    contentType: 'application/json',
                    data: JSON.stringify({_csrf: _csrf}),
                    dataType: 'json',
                    error: function (XMLHttpRequest, textStatus, errorThrow) {
                        alert(XMLHttpRequest + '\n' + textStatus + '\n' + errorThrow);
                    },
                    success: function (result) {
                        if (result.ok) {
                            $tr.remove();
                            toastr.info(result.msg);
                        } else {
                            $elem.toggleClass('disabled');
                            toastr.error(result.msg);
                        }
                    }
                });
            });
        });