extends ../../../views/shared/_layout
block StylesBlock
block ContentBlock

    .row
        .col-xs-12
            h3.page-title #{pageTitle}
    .row
        .col-xs-4.col-xs-offset-4
            .card.text-center
                .card-header= agentChooseTitle
                .card-block
                    | #{agent}:&nbsp
                    select.form-select-sm(name='worker')
                        option(value='')= selectAgent
                        each worker in data.workers
                            option(value=worker._id, data-server=worker.server_id.toString()) #{worker.server_name} [#{worker.ip}]

    .modules-scope


block ScriptsPluginBlock
block ScriptsBlock

    script(type='application/javascript', src='/js/bootstrap-table.js')
    script(type='application/javascript').
        var nodeWords = !{JSON.stringify(nodeModule)};
        var osWords = !{JSON.stringify(osModule)};
        var commonWords = !{JSON.stringify(commonModule)};

        $(function () {
            setActiveLink('#monitoring', '#monitoring-servers-sub');
            var table = new BootstrapTable('.modules-scope');

            $('select[name="worker"]').on('change', function (e) {
                var $opt = $('option:selected', this);

                var serverId = $opt.data('server');

                $.get('/monitoring/servers/' + serverId + '/modules', function (result) {
                    if (result.ok) {
                        console.log(result.data);

                        var i = result.data.length;
                        while (i--) {
                            (function (i) {
                                var sysName = result.data[i].sys_name;
                                $.getScript('/js/monitoring/' + sysName + '.js', function (data, textStatus, jqxhr) {
                                    if (textStatus == 'success') {
                                        try {
                                            var initFunc = 'Init' + sysName.toUpperCase();
                                            var words = $.extend({}, commonWords, window[sysName + 'Words']);
                                            window[initFunc](table, $opt.val(), result.data[i], words);
                                        }
                                        catch (e) {
                                            console.error(e);
                                        }
                                    }
                                });
                            })(i);
                        }
                    } else {
                        //TODO Handler ERROR!!!! AAAAAAAAA
                    }
                });
            });
        });